body{
    
}
button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 900;
}
.containerButton{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5%;
    justify-content: center;
}

.ClockCounter{
    width: 200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: lightslategray;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 1px 1px #cccc,-1px 2px 2px  2px#cccc;
    border-radius: 500px;
}
#timer-label,.timer-label{
    color: #F2F2F2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.session{
    padding: 4%;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #aaa, 0px 1px 1px #ccc, 1px 1px 1px #ccc;
}
#break-label, #session-label{
    color: lightslategray;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bi{
    font-size: 2rem;
}